<div class="holder">
    <div class="top-panel">
        <div class="title">{{title}}</div>
        <div class="dot-holder">
            <div *ngFor="let content of data;let i = index" class="dot" (click)="updateAllContent(i)" [class.grey]="content.grey"></div>
        </div>

    </div>

    <div class="middle-panel">
        <div class="image-1" [style.backgroundImage]="'url('+imagePath+')'"></div>
        <div class="info-1">{{content}}</div>
    </div>

    <div class="bottom-panel"></div>
</div>