.holder {
    position: relative;
    height: 600px;
    width: 1000px;
    border: 1px solid black;
}

.top-panel {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: rgb(192, 154, 51);
}

.title {
    position: relative;
    top: 15px;
    width: auto;
    padding-left: 20px;
    color: white;
    font-size: 20px;
}

.dot-holder {
    position: absolute;
    top: 15px;
    right: 0px;
    height: 20px;
    width: 100px;
}

.dot {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: rgb(243, 242, 242);
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.middle-panel {
    position: relative;
    height: 500px;
    width: 1000px;
    border: 1px solid black;
}

.image-1 {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
}

.info-1 {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 50%;
    /* float: left; */
    font-size: 15px;
    border: 1px solid green;
    padding: 20px;
}

.bottom-panel {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: rgb(192, 154, 51);
}

.grey {
    background-color: grey;
}